* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.nav-bar,
.footer {
  background-color: rgb(36, 36, 36);
  color: white;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  display: flex;
  list-style-type: none;
}

.nav-list-items {
  margin: 0 1rem;
}

.btn {
  background-color: rgb(38, 103, 233);
  color: white;
  border-radius: 100px;
  font-size: inherit;
}

.container-lrg {
  position: relative;
  text-align: center;
}

.cont-lrg-item {
  position: absolute;
  top: 50%;
  left: 50%;
}

.cont-lrg-item-dwn {
  position: absolute;

  left: 50%;
  bottom: 10px;
  background-color: none;
}

.cirriculm-header,
.free-header,
.contact-header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.free-section {
  background-color: rgb(38, 103, 233);
  height: 15vh;
  color: white;
  text-align: center;
}

.free-statement {
  text-align: inherit;
  width: 300px;
  word-wrap: break-word;
  margin-left: 14rem;
}
